/* Estilos gerais */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse farthest-corner at top left, #354958, #120535, #39033C, #04020C);
    color: rgb(239, 237, 237);
}

/* Cabeçalho */
header {
    position: relative;
    background-color: #ffffff00;
    padding: 40px ;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-content {
    position: relative; /* Removido o absolute para evitar problemas de layout */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-text {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Estilos para o texto do cabeçalho */
}

#header-image {
    max-width: 600px;
    height: auto;
}


nav {
    background-color: #11002b;
    overflow: hidden;
}

nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #02af95;
    color: rgb(255, 255, 255);
}




header h1 {
    font-size: 100px ;
    margin-bottom: 10px;
}

header h2 {
    font-size: 50px ;
}

/* Seção Sobre Mim */
#sobre-mim {
    background-color: #0b0427;
    display: block; /* Alterado para block para ocupar a largura total */
    margin: 20px auto; /* Centralizado horizontalmente */
    height: auto;
    text-align: center;
}


.parent-sobre-mim {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1-sobre-mim {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
}

.div2-sobre-mim {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}
        

#sobre-mim p {
    margin: 10px;
}

/* Seção Projetos */
#projetos {
    padding: 20px;
    background-color: #eeeeee00;
}

#projetos h2 {
    margin: 40px;
    text-align: center;
}

.projeto {
    padding: 15px;
    border: 0px solid #ddd;
    background-color: #0000004d;
}



.parent-projetos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
  
.div1-projetos {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
}

.div2-projetos {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
}

.div3-projetos {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
}
      
   

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}



        /* Estilo dos modais */
        .modal {
          display: none; /* Oculto por padrão */
          position: fixed;
          z-index: 1000;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.5); /* Fundo semitransparente */
        }
        
        /* Conteúdo do modal */
        .modal-content {
          color: #000;
          background-color: #fff;
          margin: 10% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width: 600px;
          position: relative;
          border-radius: 4px;
        }
        
        /* Botão de fechar */
        .close {
          position: absolute;
          top: 10px;
          right: 15px;
          color: #aaa;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
        }
        
        .close:hover {
          color: #000;
        }



/* Seção Habilidades */
#habilidades {
    background-color: #04020c00;
    text-align: center;
    margin: 15px;
    padding: 20px;
    padding-bottom: 100px
}

#habilidades img {
    max-width: 75px;
    height: auto;
    display: inline-block;
    margin: 5px;
   
}

/* Rodapé */
footer {
    margin: 20px;
    border-radius: 20px;
    background-image: url("assets\\fundo_bonito.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    min-width: 1000px ;
}

  
  .contato {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  ul {
  display: flex;
  position: relative;
  gap: 25px;
  }
  
  ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  }
  
  ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  }
  
  ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
  }
  
  ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  }
  
  ul li:hover::before {
  opacity: 1;
  }
  
  ul li:hover::after {
  opacity: 0.5;
  }
  
  ul li ion-icon {
  color: #777777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
  }
  
  ul li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
  }
  
  ul li span {
  position: absolute;
  }
  
  ul li .title {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  }
  
  ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
  }
  



  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

  :root {
    --bg: #00000049;
    --clr-1: #5fdaff;
    --clr-2: #02ff70;
    --clr-3: #ff4089;
    --clr-4: #c64cff;
  
    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg);
    color: #ffffff;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: var(--fs);
    font-weight: 800;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg);
    margin: 0;
  }
  
  .subtitle {
    color: #fdfdfd;
  }
  
  .aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
  }
  
  .aurora__item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
  }
  
  .aurora__item:nth-of-type(1) {
    top: -50%;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-1 12s ease-in-out infinite alternate;
  }
  
  .aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-2 12s ease-in-out infinite alternate;
  }
  
  .aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-3 8s ease-in-out infinite alternate;
  }
  
  .aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-4 24s ease-in-out infinite alternate;
  }
  
  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }
  
    50% {
      top: 100%;
      right: 75%;
    }
  
    75% {
      top: 100%;
      right: 25%;
    }
  
    100% {
      top: 0;
      right: 0;
    }
  }
  
  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }
  
    60% {
      top: 100%;
      left: 75%;
    }
  
    85% {
      top: 100%;
      left: 25%;
    }
  
    100% {
      top: -50%;
      left: 0%;
    }
  }
  
  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }
  
    40% {
      bottom: 100%;
      left: 75%;
    }
  
    65% {
      bottom: 40%;
      left: 50%;
    }
  
    100% {
      bottom: 0;
      left: 0;
    }
  }
  
  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }
  
    50% {
      bottom: 0%;
      right: 40%;
    }
  
    90% {
      bottom: 50%;
      right: 25%;
    }
  
    100% {
      bottom: -50%;
      right: 0;
    }
  }
  
  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  
    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
  
    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
  
    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  
    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }
  
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}

@import url("https://fonts.googleapis.com/css2?family=Turret+Road&display=swap");

svg {
	font-family: "Turret Road", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #E9F4FF;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(248,254,255,0); stroke: rgba(233,244,255,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(248,254,255,0); stroke: rgba(233,244,255,1); }
	80%  {fill: rgba(248,254,255,0); stroke: rgba(233,244,255,1); stroke-width: 3; }
	100% {
		fill: rgba(248,254,255,1); stroke: rgba(233,244,255,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #ffffff00};

        





/* Media Queries para Responsividade (Exemplo) */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Layout em coluna em telas menores */
        align-items: center;
    }

    #header-content {
        flex-direction: column; /* Layout em coluna em telas menores */
        align-items: center;
    }

    #header-text, #header-image {
        position: relative; /* Remove o posicionamento absoluto */
        text-align: center;
        margin: 10px 0; /* Adiciona margem */
    }

    #header-image {
        max-width: 90%; /* Ajusta a largura da imagem */
    }

    #sobre-mim {
        max-width: 90%;
    }

    .swiper {
        max-width: 90%;
    }
}
