.modal-content-jornal{
    background-image: url("assets\\Modal-bd-jornal.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: white;      
        margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      position: relative;
      border-radius: 4px;
}

.modal-jornal-text  {
    color: rgb(255, 255, 255);
}
