.foto-modal-menu {
    padding-left: 10px;
    width: 350px;
  }

  .tech-modal-menu {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: 4px;
    width: fit-content;
    border: solid 2px;
    border-radius: 10px;
  }

  .title-modal-menu {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: solid #cba498 3px;
    box-shadow: 5px 4px 0px 0px rgb(210, 174, 130);
    text-align: center;
    border-radius: 15px;
    width: 70%;
    padding: 10px;
    color: #ffead8;
    background-color: #5c4032;
  }
  


  .parent-modal-menu {
    margin: 10px;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    color: #9f9996 ;
    background-color: #ffffff;
    border-radius: 20px ;
    padding: 15px;
    border: #b8855f solid 2px;
    box-shadow: 5px 4px 0px 0px rgb(210, 174, 130);
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
  }


  .modal-content-menu {
    color: #000;
    background-color: #f6ecdd;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 900px;
    position: relative;
    border-radius: 4px;
  }

  .text-modal-menu {
    text-align: justify;
    color: #9f9996 !important;
    background-color: #ffffff;
    border-radius: 20px ;
    padding-top: 0 !important;
    padding: 10px;
    border: #b8855f solid 2px;
    box-shadow: 5px 4px 0px 0px rgb(210, 174, 130);
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
  }

  .text-modal-menu-real {
    text-align: justify;
    color: #9f9996 !important;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
  }


  .modal-header-menu{
    display: flex;
    column-gap: 10px;
  }
  
  .div1-modal-menu {
    text-align: justify;
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    width: 450px;

  }
  
  .div2-modal-menu {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    width: 400px;
    border-left: #d1820c 3px solid ;
  }

  .ul-reset {
    all: unset; /* Remove quase todas as propriedades aplicadas */
    display: block; /* Garante que o <ul> mantenha seu comportamento padrão */
    list-style-type: disc; /* Restaura os marcadores */
    padding-left: 40px; /* Adiciona o recuo padrão */
}

.ul-reset {
  display: block;
  position: static !important;
  gap: 0px;

}

.ul-reset li {
  position: static !important;
  list-style: disc;
  width: auto;
  height: auto;
  background: none;
  box-shadow: none;
  border-radius: 0;
  cursor: default;
  display: list-item;
  justify-content: initial;
  align-items: initial;
  transition: none !important;
}

.ul-reset li::before,
.ul-reset li::after {
  content: none;
  position: static !important;

}

.ul-reset {
  margin-right: 5px;
}


